@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
}

main {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
}

/* .navbar:not(.is_stuck) {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
} */

.brand-logo {
    width: 150px;
    height: 100px;
    padding-bottom: .5rem;
    margin-left: 3rem;
    
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 5rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    display: block;
    background: rgba(0, 0, 0, 0.4);
}

.navbar-links li:hover {
    background-color: rgb(150, 146, 146);
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}

.zone {
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    
    
}

h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #6d6262;
}

main .zone hr {
    width: 5%;
    border: 2px solid #e63d2e;
    margin-bottom: 0.5rem;
}

main .zone h3 {
    font-size: 1.5rem;
    color: #e63d2e;
}

.button-contact {
    margin-bottom: 22.5rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #e63d2e;
    border: 0.25rem solid  #e63d2e;
    border-radius: 700px;
}

.button-contact:hover {
    background-color: #e68225;
    border: 0.25rem solid  #e68225;
}


.container {
    display: flex;
    flex-direction: column;
    height: 76vh;
    justify-content: center;
    align-items: center;
    background: url(./assets/images/car-expres-logistic-crs-logistic-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #464646;
}

.despre {
    display: flex;
    height: 45vh;
    text-align: center;
}

.text-transport {
    margin-top: 5rem;
}

.text-transport p {
    color: gray;
    margin-left: 1em;
    margin-bottom: 2rem;
}

.button-despre {
    text-align: center;
    text-decoration: none;
    padding-left: 4em;
    padding-right: 4em;
    color: white;
    background-color: #e63d2e;
    border: 1em solid  #e63d2e;
    border-radius: 700px;
}

.button-despre:hover {
    background-color: #e68225;
    border: 0.75em solid  #e68225;
}

aside {
    width: 120vw;
    background: url(./assets/images/tiruri.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 1rem;
}

main hr {
    width: 60%;
    border: 2px solid #e63d2e;
}

.card {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    width: 22em;
}
.card__title {
    font-size: 1.25rem;
    padding: .5rem;
    text-align: center;
}
.card__description {
    padding: .5rem;
    line-height: 1.6em;
    text-align:center;
}
.button {
    display: block;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
}



.card_section {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
}

.card-container {
    display: grid;
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, .5fr));
    justify-content: center;
    grid-gap: 0.5rem;
    margin-bottom: 4rem;
}

footer p {
    color: lightgray;
    font-size: .8em;
}

footer {
    display: flex;
    justify-content: center;
    /* padding-top: 1.3em; */
    height: 5vh;
    background-color: black;
}

@media (max-width: 599px) {
    .card {
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .toggle-button .bar {
        background-color: black;
    }
    
    main .zone h3 {
        font-size: 1rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
        animation: growDown 350ms ease-in-out forwards;
        transform-origin: top center;
    }

    main section h2 {
        font-size: 0.5em;
    }

    .button-contact {
        margin-top: 10em;
        margin-bottom: 5em;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background: transparent;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        width: 100%;
    }
    
    .navbar-links li a {
        width: 130%;
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: 5793c7d1;
    }

    .brand-logo {
        width: 55px;
        height: 40px;
        margin-left: 0em;
    }


    .navbar:not(.is_stuck) {
        position: absolute;
    }


    .container {
        height: 60vh;
        background: url(./assets/images/crstransportpzoa.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #464646;
    }

    .card {
        width: 20em;
    }

    .despre {
        display: block;
    }

    .text-transport {
        margin-top: auto;
    }

    aside {
        display: none;

    }
}

@media (max-width: 412px) and (max-height: 700px) {
    .card_section {
        margin-top: 5em;
    }
}

@media (max-width: 360px) and (max-height: 650px) {

    .button-contact {
        margin-top: 7em;
    }

    .card_section {
        margin-top: 8em;
    }
}

@media (max-width: 320px) and (max-height: 568px) {
    main section h2 {
        margin-top: 2em;
    }

    .button-contact {
        margin-top: 5em;
    }
    main .zone h3 {
        font-size: 0.9rem;
    }
}





@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }